<ion-view view-title="Upcoming Events">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <ion-list>
      <ion-item ng-if="state.firstLoad == true" class="text-center">
        <ion-spinner></ion-spinner>
      </ion-item>

      <ion-item ng-repeat="event in events" href="#/app/events/{{event.slug}}">
        <h2>{{event.name}}</h2>
        <p>{{event.short_date_string}}</p>
      </ion-item>
      <ion-item ng-if="events.length == 0 && state.firstLoad == false" class="text-center">
        <h2>No upcoming events</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
