<ion-view view-title="Event">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <div class="item text-center" ng-if="state.firstLoad == true">
      <ion-spinner></ion-spinner>
    </div>

    <div class="list" ng-if="event.name">

      <div class="item">
        <h2>{{event.name}}</h2>
        <p>{{event.short_date_string}}</p>
        <p>{{event.provider.name}}</p>
      </div>
      <div class="item item-icon-left" ng-if="event.registration_completed_at">
        <i class="icon ion-ios-checkmark-empty"></i>
        Registered
      </div>
      <div class="item item-icon-left item-button-right" ng-if="event.appointment">
        <i class="icon ion-ios-clock-outline"></i>
        {{event.appointment.timestamp}}
        <a class="button button-assertive" ng-click="cancelAppt()" ng-if="!event.measurement.id">
          Cancel
        </a>
      </div>
      <div class="item item-icon-left item-button-right" ng-if="!event.appointment  && !event.measurement.id">
        <i class="icon ion-ios-close-empty"></i>
        No appointment chosen
        <!-- <a class="button button-balanced" ng-click="openAppoinmentView()">
          Add
        </a> -->
      </div>
      <!-- <div class="item item-icon-left" ng-if="event.blood_station_completed_at">
        <i class="icon ion-ios-checkmark-empty"></i>
        Blood results recorded
      </div>
      <div class="item item-icon-left" ng-if="event.bmi_station_completed_at">
        <i class="icon ion-ios-checkmark-empty"></i>
        BMI results recorded
      </div>
      <div class="item item-icon-left" ng-if="event.blood_pressure_completed_at">
        <i class="icon ion-ios-checkmark-empty"></i>
        Blood pressure recorded
      </div> -->
      <div class="item item-icon-left" ng-if="!event.measurement.id">
        <i class="icon ion-ios-close-empty"></i>
        No results yet
      </div>
      <a class="item item-icon-right positive" ng-if="event.measurement.id" ui-sref="app.record({id: event.measurement.id})">
        <i class="icon ion-ios-arrow-right"></i>
        View results
      </a>

    </div>
  </ion-content>
</ion-view>
