<ion-view>
  <ion-content has-bouncing="false" class="has-footer">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Criadero</div>
        <select ng-model="inspection.report.breeding_site" ng-options="bs as bs.description for bs in breeding_sites"></select>
      </label>
      <label class="item item-input">
        <div class="input-label">Descripción</div>
        <input type="text" class="text-right" ng-model="inspection.report.report">
      </label>
      <label class="item item-input">
        <div class="input-label">Field identifier</div>
        <input type="text" class="text-right" ng-model="inspection.report.field_identifier">
      </label>
      <li class="item item-toggle">
       Protegido
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.report.protected">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Abatizado
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.report.chemically_treated">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Larvas
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.report.larvae">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Pupas
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.report.pupae">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-icon-right" ng-click="loadCamera()">
        Foto de criadero
        <i class="icon ion-ios-camera-outline" ng-if="!inspection.report.before_photo"></i>
        <img style="height:50px; max-width: 50px; float:right;" src="{{inspection.report.before_photo}}" ng-if="!!inspection.report.before_photo"></img>
      </li>

      <div class="item item-divider">
        Eliminación
      </div>


      <label class="item item-input">
        <div class="input-label">Fecha de eliminación</div>
        <input type="date" class="text-right" ng-model="inspection.report.eliminated_at">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Método de eliminación</div>
        <select ng-model="inspection.report.elimination_method" ng-options="em as em.description for em in inspection.report.breeding_site.elimination_methods"></select>
      </label>

      <li class="item item-icon-right" ng-click="loadAfterCamera()">
        Foto de eliminación
        <i class="icon ion-ios-camera-outline" ng-if="!inspection.report.after_photo"></i>
        <img style="height:50px; max-width: 50px; float:right;" src="{{inspection.report.after_photo}}" ng-if="!!inspection.report.after_photo"></img>
      </li>

    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="saveInspection()">Save</div>
  </div>
</ion-view>
