<ion-modal-view class="login-modal">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Add an inspection</h1>
    <button class="button button-clear button-positive" ng-click="closeNewInspectionModal()">Cancel</button>
  </ion-header-bar>
  <ion-content has-bouncing="false" scroll="false">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Criadero</div>
        <select ng-model="inspection.breeding_site_id" ng-options="bs.id as bs.description for bs in breeding_sites"></select>
      </label>
      <label class="item item-input">
        <div class="input-label">Descripción</div>
        <input type="text" class="text-right" ng-model="inspection.location">
      </label>
      <li class="item item-toggle">
       Protegido
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.protected">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Abatizado
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.chemically_treated">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Larvas
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.larvae">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Pupas
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.pupae">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-icon-right" ng-click="loadCamera()">
        Foto de criadero
        <i class="icon ion-ios-camera-outline" ng-if="!inspection.before_photo"></i>
        <img style="height:50px; max-width: 50px; float:right;" src="{{inspection.before_photo}}" ng-if="!!inspection.before_photo"></img>
      </li>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="create()">Add</div>
  </div>

</ion-modal-view>


<!-- <ion-view view-title="Add an inspection">
  <ion-content class="has-footer">

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Criadero</div>
        <select ng-model="inspection.breeding_site_id" ng-options="bs.id as bs.description for bs in breeding_sites"></select>
      </label>
      <label class="item item-input">
        <div class="input-label">Descripción</div>
        <input type="text" class="text-right" ng-model="inspection.location">
      </label>
      <li class="item item-toggle">
       Protegido
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.protected">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Abatizado
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.chemically_treated">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Larvas
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.larvae">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-toggle">
       Pupas
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="inspection.pupae">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <li class="item item-icon-right" ng-click="loadCamera()">
        Foto de criadero
        <i class="icon ion-ios-camera-outline" ng-if="!inspection.before_photo"></i>
        <img style="height:50px; max-width: 50px; float:right;" src="{{inspection.before_photo}}" ng-if="!!inspection.before_photo"></img>
      </li>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="create()">Add</div>
  </div>
</ion-view> -->
