<ion-view view-title="My Records">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <ion-list>
      <ion-item ng-repeat="record in records" ui-sref="app.record({id: record.id})">
        <h2>Health Screening</h2>
        <p>{{record.short_date_string}}</p>
        <p>Provider: {{record.provider_name}}</p>
      </ion-item>
      <ion-item ng-if="records.length == 0 && state.firstLoad == false" class="text-center">
        <h2>No records found</h2>
      </ion-item>
      <ion-item ng-if="state.firstLoad == true" class="text-center">
        <ion-spinner></ion-spinner>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="state.moreData" on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
