<ion-view view-title="{{measurement.timestamp}}">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <div class="list">
      <div class="item text-center" ng-if="state.firstLoad == true">
        <ion-spinner></ion-spinner>
      </div>

      <div class="item" ng-if="!state.firstLoad">
        <h2>{{measurement.event.name}}</h2>
        <p>{{measurement.timestamp}}</p>
        <p>{{measurement.provider.name}}</p>
      </div>

      <div class="item" ng-repeat="metric in measurement.provider.metrics">
        <!-- {{metric.humanized_code}}
        <p style="white-space: pre-wrap;">{{metric.ideal_category_text}}</p>

        <span class="item-note">
          <h3 ng-style="{color:measurement.biometrics[metric.code].risk_color}">{{measurement.biometrics[metric.code].value | number:0}}</h3>
          <span ng-if="measurement.biometrics[metric.code]">mg/dL</span>
        </span> -->

        <div class="row">
          <div class="col col-75">
            {{metric.humanized_code}}
            <p>{{metric.units}}</p>
          </div>
          <div class="col col-25 text-right">
            <h1 style="font-weight:bold;" ng-style="{color:measurement.biometrics[metric.code].risk_color}">{{measurement.biometrics[metric.code].value | number:0}}</h1>
          </div>

        </div>
      </div>

      <!-- <div class="item item-divider">
        Blood work
      </div>

      <div class="item">
        <div class="row">
          <div class="col col-75">Total Cholesterol</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.cholesterol.risk_color}">{{measurement.biometrics.cholesterol.value | number:0}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.cholesterol" class="item-note">mg/dL</span></div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col col-75">LDL</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.ldl.risk_color}">{{measurement.biometrics.ldl.value | number:0}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.ldl" class="item-note">mg/dL</span></div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col col-75">HDL</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.hdl.risk_color}">{{measurement.biometrics.hdl.value | number:0}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.hdl" class="item-note">mg/dL</span></div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col col-75">Glucose</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.glucose.risk_color}">{{measurement.biometrics.glucose.value | number:0}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.glucose" class="item-note">mg/dL</span></div>
        </div>
      </div>

      <div class="item item-divider">
        Blood Pressure
      </div>

      <div class="item">
        <div class="row">
          <div class="col col-75">Systolic</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.systolic.risk_color}">{{measurement.biometrics.systolic.value | number:0}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.systolic" class="item-note">mmHg</span></div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col col-75">Diastolic</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.diastolic.risk_color}">{{measurement.biometrics.diastolic.value | number:0}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.diastolic" class="item-note">mmHg</span></div>
        </div>
      </div>

      <div class="item item-divider">
        BMI
      </div>
      <div class="item">
        <div class="row">
          <div class="col col-75">BMI</div>
          <div class="col"><span style="font-weight:bold;" ng-style="{color:measurement.biometrics.bmi.risk_color}">{{measurement.biometrics.bmi.value | number:1}}</span></div>
          <div class="col"><span ng-if="measurement.biometrics.bmi" class="item-note">kg/m2</span></div>
        </div>
      </div> -->

    </div>
  </ion-content>
</ion-view>
