<ion-modal-view class="login-modal">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Write a new post</h1>
    <button class="button button-clear button-positive" ng-click="closeNewPostModal()">Cancel</button>
  </ion-header-bar>

  <ion-content has-bouncing="false" scroll="false">
    <div class="list">
      <label class="item item-input">
        <textarea ng-model="post.content" autofocus></textarea>
      </label>

      <li class="item item-icon-right" ng-click="loadCamera()">
        Foto
        <i class="icon ion-ios-camera-outline" ng-if="!post.compressed_photo"></i>
        <img style="height:50px; max-width: 50px; float:right;" src="{{post.compressed_photo}}" ng-if="!!post.compressed_photo"></img>
      </li>

    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="createPost()">Create</div>
  </div>
</ion-modal-view>
