<ion-view view-title="Edit {{location.address}}">

  <form ng-submit="update()">
    <ion-content class="has-footer" scroll="false">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" class="text-right" ng-model="location.address">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Neighborhood</div>
          <select ng-model="location.neighborhood_id" ng-options="n.id as n.name for n in neighborhoods"></select>
        </label>


        <div class="item row">
          <div class="col">
            <label class="item-input">
              <input type="text" placeholder="Latitude" ng-model="location.latitude" disabled>
            </label>
          </div>
          <div class="col">
            <label class="item-input">
              <input type="text" placeholder="Longitude" ng-model="location.longitude" disabled>
            </label>
          </div>
          <!-- <div class="col">
            <button class="button button-block button-small button-stable" ng-click="loadMap()">
              <i class="icon ion-ios-navigate-outline"></i>
            </button>
          </div> -->
        </div>

        <div class="item text-center" ng-if="state.loadingGeo == true">
          <ion-spinner></ion-spinner>
        </div>

      </div>

      <div id="map" data-tap-disabled="true"></div>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar bar-footer bar-balanced">
      <div class="buttons full-width">
        <button class="button button-clear" type="submit">Update</div>
      </div>
    </ion-footer-bar>
  </form>
</ion-view>
