<ion-view view-title="Locations">
  <div class="content bar-subheader">
    <form ng-submit="searchByAddress()">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" ng-model="params.search" placeholder="Search by address...">
          </label>
          <button type="submit" class="button button-small button-clear button-positive" ng-disabled="params.search.length == 0">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-plus-empty" ui-sref="app.locations.new"></button>
  </ion-nav-buttons> -->

  <ion-content class="has-subheader has-footer">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="location in locations" ui-sref="app.location({id: location._id})">
        <h2>{{location.address}}</h2>
        <p>Last visited on {{location.last_visited_at}}</p>
        <p>{{location.visits.length}} visits total</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-if="locations.length == 0 && state.firstLoad == false && state.loading == false" class="text-center">
        <h2>No locations found. Have you visited any locations? Try pulling down to refresh.</h2>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="showNewLocationModal()">Add location</div>
  </div>

</ion-view>
