<ion-modal-view class="login-modal">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Add a location</h1>
    <button class="button button-clear button-positive" ng-click="closeNewLocationModal()">Cancelar</button>
  </ion-header-bar>

  <form ng-submit="create()">
    <ion-content has-bouncing="false" scroll="false">
      <div class="list" style="margin-bottom: 0px;">
        <label class="item item-input item-select">
          <div class="input-label">Comunidad</div>
          <select ng-model="location.neighborhood_id" ng-options="n.id as n.name for n in neighborhoods"></select>
        </label>
        <label class="item item-input">
          <span class="input-label">Codigo</span>
          <input autofocus type="text" class="text-right" ng-model="location.address">
        </label>

        <label class="item item-input item-text-wrap" ng-if="user.city.country == 'Colombia'">
          Escribir asi: CL KR CS BARRIO, KR CL CS BARRIO, MZ CS BARRIO
        </label>

        <div class="item row">
          <div class="col">
            <label class="item-input">
              <input type="text" placeholder="Latitude" ng-model="location.latitude" disabled>
            </label>
          </div>
          <div class="col">
            <label class="item-input">
              <input type="text" placeholder="Longitude" ng-model="location.longitude" disabled>
            </label>
          </div>
          <!-- <div class="col">
            <button class="button button-block button-small button-stable" ng-click="loadMap()">
              <i class="icon ion-ios-navigate-outline"></i>
            </button>
          </div> -->
        </div>

        <div class="item text-center" ng-if="state.loadingGeo">
          <ion-spinner></ion-spinner>
        </div>
      </div>

      <div id="map" data-tap-disabled="true"></div>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar bar-footer bar-balanced">
      <div class="buttons full-width" style="width: 100%;">
        <button class="button button-clear" type="submit" style="width: 100%;">Agregar</div>
      </div>
    </ion-footer-bar>
  </form>


</ion-modal-view>