<ion-view view-title="{{location.address}}">
  <div class="tabs-striped tabs-top">
    <div class="tabs">
      <a class="tab-item" ng-class="{'active': state.pageIndex === 0}" ng-click="transitionToPageIndex(0)">
        Visitas
      </a>
      <a class="tab-item" ng-class="{'active': state.pageIndex === 1}" ng-click="transitionToPageIndex(1)">
        Preguntas
      </a>
    </div>
  </div>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-edit" ui-sref="app.location.edit({visit_id: visit._id})"></button>
  </ion-nav-buttons>


  <ion-content class="has-subheader has-footer">
    <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher> -->


    <ion-slide-box on-slide-changed="changeTimeline($index)" does-continue="false" show-pager="false">
      <ion-slide>
        <ion-list>
          <!-- <div class="item item-balanced text-center" style="font-weight: 500; font-size:17px;" ui-sref="app.visits.new">
            <i class="icon ion-plus"></i>
            Add a visit
          </div> -->

          <ion-item ng-if="visits.length == 0" class="text-center item-text-wrap">
            <h2>No se encontraron visitas. Añadir una.</h2>
          </ion-item>


          <ion-item class="item-icon-right item-icon-left" ng-repeat="visit in visits" ui-sref="app.location.visit({visit_id: visit._id})">
            <!-- <i class="{{visit.inspections_count == 0 ? 'icon ion-ios-circle-outline' : 'icon ion-ios-circle-filled'}}" ng-style="{'color': visit.color}"></i> -->

            <h2>{{visit.visited_at | formatDate}}</h2>
            <p>{{visit.inspections.length || 0}} inspeciones</p>
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
          <ion-item ng-if="visits.length == 0 && state.firstLoad == false" class="text-center">
            <h2>No se encontraron visitas</h2>
          </ion-item>
        </ion-list>
      </ion-slide>


      <ion-slide>
        <div class="list" style="overflow-y:scroll; height: 100%;">
          <div ng-repeat="q in location.questions">
            <div class="item item-divider" ng-if="!q.parent">
              {{q.body}}
            </div>

            <div class="item" ng-if="q.type == 'radio'" ng-show="shouldDisplay(q)">
              <h2 ng-if="!!q.parent">{{q.body}}</h2>
              <div class="row">
                <div class="col">
                  <div class="text-center">
                    <button class="button" style="margin-right: 5px;" ng-repeat="ac in q.answer_choices" ng-class="{'button-balanced': ac.id == q.answer}" ng-click="q.answer = ac.id">
                      {{ac.body}}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <label class="item item-input item-stacked-label" ng-if="q.type != 'radio'" ng-show="shouldDisplay(q)">
              <span class="input-label">{{q.body}}</span>
              <input type="text" ng-if="q.type == 'text'" ng-model="q.answer">
              <input type="number" min="0" ng-if="q.type == 'number'" ng-model="q.answer">
              <input type="date" ng-if="q.type == 'date'" ng-model="q.answer">
            </label>
          </div>
        </div>


      </ion-slide>
    </ion-slide-box>

  </ion-content>

  <ion-footer-bar keyboard-attach class="bar bar-footer bar-balanced">
    <div class="title" ng-if="state.pageIndex == 0" ng-click="showNewVisitModal()">Agregar visita</div>
    <div class="title" ng-click="saveQuestions()" ng-if="state.pageIndex == 1">Guardar</div>
  </ion-footer-bar>

  <!-- <div class="tabs-striped tabs-top">
    <div class="tabs">
      <a class="tab-item" ui-sref-active="active" ui-sref="app.location.visits">
        Visits
      </a>
      <a class="tab-item" ui-sref-active="active" ui-sref="app.location.questions">
        Questions
      </a>
    </div>
  </div>

  <div ui-view name="visits"></div>
  <div ui-view name="questions"></div> -->
</ion-view>
