<ion-view view-title="Visits">
  <div class="content bar-subheader">
    <form ng-submit="searchByDate()">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" ng-model="params.search" placeholder="Search by date...">
          </label>
          <button type="submit" class="button button-small button-clear button-positive" ng-disabled="params.search.length == 0">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <ion-list>
      <ion-item ng-if="state.firstLoad == true" class="text-center">
        <ion-spinner></ion-spinner>
      </ion-item>

      <ion-item class="item-icon-right" ng-repeat="visit in visits" ui-sref="app.visit({id: visit.id})">
        <h2>{{visit.visited_at}}</h2>
        <p>{{visit.location}}</p>
        <p>{{visit.inspections}} inspections</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-if="visits.length == 0 && state.firstLoad == false" class="text-center">
        <h2>No visits found. Have you visited any locations?</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
