<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <div class="input-label">Codigo</div>
        <input type="text" class="text-right" ng-model="visit.location_address">
      </label>

      <label class="item item-input">
        <div class="input-label">Fecha de visita</div>
        <input type="date" class="text-right" ng-model="visit.visited_at">
      </label>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="create()">Agregar</div>
  </div>

</ion-view>
